body {
  background-color: #00b3b3;
  background-size: 100%;
}

.main_header {
  color: #e6e6e6;
  display: inline-block;
  font-size: 70px;
  font-family: Trebuchet MS;
  letter-spacing: 2px;
  /*font-weight: lighter;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  /*text-align: center;*/
  position: relative;
  left: 100px;
  z-index: 1;
}

ul {
  /*background-color: black;*/
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-right: 50px;
  padding-top: 10%;
  overflow: hidden;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #ff3300;
  float: right;
  position: relative;
  /*list-style-type: none;
  margin: 0;
  padding: 0;
  /*background-color: white;
  float: top;
  height: 200px;
  width: 100px;
  z-index: -1;*/
}

li {
  /*float: right;*/
  /*text-align: center*/
}

li a {
  display: block;
  padding: 20px;
  text-align: center;
 /* float: right;*/
  color: #e6e6e6;
  /*color: #cc0000;*/
  font-family: Trebuchet MS;
  text-decoration: none;
}

/*.contact_link {
  font-color: #ff3300;
}*/

/*.home_link {
  font-family: Arial;
}*/

/*.about_link {
}

.portfolio_link {
}*/

.portfolio {
  font-family: Trebuchet MS;
  color: #e6e6e6;
  letter-spacing: 2px;
  padding: 20px;
}

.about {
  font-family: Trebuchet MS;
  color: #e6e6e6;
  letter-spacing: 2px;
  padding: 20px;
}

.contact {
  font-family: Trebuchet MS;
  color: #e6e6e6;
  letter-spacing: 2px;
  padding: 20px;
}

/*.earth {
  background-image: url(/planet.jpg);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}*/

/* **make earth image fade-in as background a few seconds after page load ** */

