body {
  background-color: #00b3b3;
  background-size: 100%;
}

h1 {
  color: white;
  display: inline-block;
  font-size: 70px;
  font-family: Trebuchet MS;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  /*text-align: center;*/
  position: relative;
  left: 100px;
  z-index: 1;
}

ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  padding-top: 0;
  overflow: hidden;
  font-size: 30px;
  float: top;
  position: relative;
  /*list-style-type: none;
  margin: 0;
  padding: 0;
  /*background-color: white;
  float: top;
  height: 200px;
  width: 100px;
  z-index: -1;*/
}

li {
  float: right;
  /*text-align: center*/
}

li a {
  display: block;
  padding: 20px;
  text-align: center;
 /* float: right;*/
  color: #e6e6e6;
  font-family: Trebuchet MS;
  text-decoration: none;
}

/*.earth {
  background-image: url(/planet.jpg);
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}*/

/* **make earth image fade-in as background a few seconds after page load ** */

