<link rel="stylesheet" href="/css/application.css">
<!DOCTYPE html>
<html lang="en">
<head>  
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<!-- <h1>Hello World<h1> -->
<h1 class="main_header">Linnea Saltel</h1>
<ul>
  <li class="portfolio_link"><a href="/portfolio">Portfolio</a></li>
  <li class="about_link"><a href="/about">About</a></li>
  <li class="contact_link"><a href="/contact">Contact</a></li>
   <!-- <li class="home_link"><a href="/">Home</a></li> -->
</ul>

</head>
</html>

<!-- <div class="container">
</div>
 -->