<link rel="stylesheet" href="/css/application.css">

<!-- <h1>Hello World<h1> -->

<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="about.asp">About</a></li>
  <li><a href="portfolio.asp">Portfolio</a></li>
  <li><a href="contact.asp">Contact</a></li>
</ul>

<div class="earth">
</div>

<!-- <div class="container">
</div>
 -->